html 
{
	height: 100%;
}

body 
{
	height:100%;
	margin: 0;
	padding: 0;
	/* background: linear-gradient(to top, #fccdd3, #6534ff); */
	background-image: radial-gradient(circle at top left, #6534ff, #fccdd3);
}

#first_part
{
	width: 100%;
	height: 100%;
}

/*HEADER*/

header
{
	width: 100%;
	height: 15%;
}

h1
{
	color: #fccdd3;
	font-family: 'Bungee Hairline', cursive;
	letter-spacing: 8px;
	font-size: 2.5vw;
	margin-left: 100px;
}

#button
{
	display: flex;
	float: right;
	margin-right: 7%;
}

.button_profil
{
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-family: 'Bungee Hairline', cursive;
	color: white;
	background: #bbc4ef;
}

a{
	text-decoration: none;
	color: white;
	cursor: crosshair;
}

.button_profil:hover
{
	background: #62bcfa;
}

#header_part1
{
	width: 100%;
	height:50%;
	display: flex;
	justify-content: space-between;
}

#header_part2
{
	width: 100%;
	height:50%;
}

#user_name
{
	margin-top: 2%;
	margin-right: 5%;
	width: 13%;
	height:50%;
	display: flex;
	justify-content: flex-end;
}

#hello
{
	margin-top: 4%;
	width: 50%;
	font-family: 'Bungee Hairline', cursive;
}

#img_profile
{
	width: 50%;
	height: 90%;
	object-fit: contain;
}

#img_profile img
{
	height: 100%;
	overflow:hidden;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
	border-radius:100%;
	box-shadow: 1px 1px 12px #555;
	object-fit: contain;
}

/*PROFILE*/

#title
{
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
}

h3
{
	font-family: 'Bungee Hairline', cursive;
	color: white;
}

#bloc_profile
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 70%;
}

#profile_picture{
	width: 8%;
	height: 30%;
	/* margin-right: 4%; */
}

#form_modif{
	width: 20%;
	height: 80%;
	/* margin-right: 4%; */
}

#bloc_picture{
	width: 100%;
	border: solid 1px rgba(255, 252, 252, 0.671);
	margin-right: 10%;
	margin-top: 10px;
}

#modif_password
{
	width: 20%;
	height: 80%;
}

#download_picture
{
	margin-top: 5%;
	border:none;
	color: white;
	font-family: 'Abel', sans-serif;
}

.input{
	width: 18vw;
	opacity: 0.9;
	background-color: #fccdd3c2;
	border: none;
	font-size: 0.6vw;
	font-family: 'Abel', sans-serif;
	letter-spacing: 2px;
	height: 4%;
	color: white;
}

.label
{
	font-size: 0.6vw;
	color: white;
	font-family: 'Bungee Hairline', cursive;
	letter-spacing: 2px;
}

.col-25{
	margin-bottom: 1%;
}

.col-75{
	margin-bottom: 4%;
}

.valider
{
	margin-top: 15px;
	background-color: white;
	border: none;
	font-family: 'Bungee Hairline', cursive;
	letter-spacing: 4px;
	font-size: 0.7vw;
	padding: 10px;
	cursor: crosshair;
	color: #8861b4c2;
}

#cancel{
	margin: 16px;
	background-color: white;
	border: none;
	font-family: 'Bungee Hairline', cursive;
	letter-spacing: 4px;
	font-size: 0.7vw;
	cursor: crosshair;
	color: #8861b4c2;
}

.valider:hover
{
	margin-top: 16px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	font-family: 'Bungee Hairline', cursive;
	font-size: 0.7vw;
	border: solid 3px white;
	color: white;
	cursor: crosshair;
}

#cancel:hover{
	margin: 15px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	font-family: 'Bungee Hairline', cursive;
	font-size: 0.7vw;
	border: solid 3px white;
	color: white;
	cursor: crosshair;
}

#avatar{
	margin-top: 40%;
}

#confirm
{
	width: 100%;
	visibility: hidden;
}

#yes_no
{
	display: flex;
}

#message_confirm
{
	font-family: 'Abel', sans-serif;
}

/*FOOTER*/

footer
{
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	background-color: white;
	opacity: 0.6;
}

#text_footer
{
	margin-right: 20px;
	color: black;
	font-family: 'Abel', sans-serif;
}
