html 
{
	height: 100%;
}

body 
{
	height:100%;
	margin: 0;
	padding: 0;
	/* background: linear-gradient(to top, #fccdd3, #6534ff); */
	background-image: radial-gradient(circle at top left, #6534ff, #fccdd3);
}

#first_part
{
	width: 100%;
	height: 100%;
}

header
{
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: space-between;
}

h1
{
	color: #fccdd3;
	font-family: 'Bungee Hairline', cursive;
	letter-spacing: 8px;
	font-size: 2.5vw;
	margin-left: 100px;
}

#button
{
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-right: 2%;
}

.button_profil
{
	padding: 10px;
	margin-top: 100px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-family: 'Bungee Hairline', cursive;
	color: white;
	background: #bbc4ef;
}

a{
	text-decoration: none;
	color: white;
	cursor: crosshair;
}

.button_profil:hover
{
	background: #62bcfa;
}

/*GALLERY*/

#camera
{
	margin-left: 5%;
	width: 90%;
	height: 80%;
}

#part1{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-between;
}

/*WEBCAM*/

#take_picture
{
	display: flex;
	justify-content: center;
	width: 35%;
	height: 100%;
	border: solid 1px #fccdd3;
}

#camera_space
{
	width: 80%;
	height: 100%;
}

#video
{
	border: solid 1px white;
}

#startbutton
{
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.281);
	border: none;
	font-family: 'Bungee Hairline', cursive;
	font-size: 0.7vw;
	border: solid 1px white;
	color: white;
	cursor: crosshair;
}

#startbutton:hover
{
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.562);
	border: none;
	font-family: 'Bungee Hairline', cursive;
	font-size: 0.7vw;
	border: solid 1px white;
	color: white;
	cursor: crosshair;
}

#choose_object{
	width: 61%;
	height: 100%;
	border: solid 1px #fccdd3;
}

#view_pictures{
	width: 100%;
	height: 30%;
	margin-top: 60px;
	margin-right: 100px;
	border: solid 1px #fccdd3;
}



/*FOOTER*/

footer
{
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	background-color: white;
	opacity: 0.6;
}

#text_footer
{
	margin-right: 20px;
	color: black;
	font-family: 'Abel', sans-serif;
}
